/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mini-fab {
  background-color: #a8e2a3 !important;
  box-shadow: none !important;
}
